extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
        |  (#{author.life_span_format} - #{author.death_span_format})

    else
      li There are no authors.
